.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

.heading-line {
    height: 3px;
    width: 85%;
    background-color: black;
}

.row {
    margin-left: 0;
    margin-right: 0;
}